body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../assets/bcpbg.jpg?v=2'); /* Add the background image */
    background-size: cover; /* Make sure it covers the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-image: url('../assets/bcpbg.jpg?v=2');
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 12px 40px rgba(0, 0, 0, 0.25);
}

.login-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.school-logo {
    width: 80px;
    height: 80px;
}

.school-title {
    margin: 0;
    font-size: 24px;
    color: #003366;
}

h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #003366;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00509e;
}

.error {
    color: red;
    font-size: 12px;
}

.success {
    color: green;
    font-size: 12px;
}
