body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #D1F8EF;
    color: #3c4043;
    transform: scale(0.8); /* Scale down by 20% */
    transform-origin: top left; /* Ensure scaling starts from the top left corner */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    margin: 0 auto;
    transition: margin-left 0.3s;
}

.container.shifted {
    margin-left: 250px; /* Adjust margin when sidebar is open */
}

.table-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

th {
    background-color: #A1E3F9;
}

button {
    padding: 8px 16px;
    border: none;
    background-color: #3674B5;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #578FCA;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #3674B5; /* Primary color for header */
    color: #fff;
}

.logo {
    height: 50px;
}