/* Main content styles */
.main-content {
    display: flex;
    gap: 20px; /* Space between calendar and reminder container */
}

.reminder-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.reminder-container h2 {
    margin-top: 0;
    font-size: 18px;
    color: #3c4043;
}

.reminder-container ul {
    list-style-type: none;
    padding: 0;
}

.reminder-container li {
    background-color: #f1f3f4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reminder-container li:hover {
    background-color: #e0e0e0;
}

#reminderList {
    max-height: 500px; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrolling */
    position: relative; /* Ensure the position is fixed within its container */
}