/* Main content styles */
.main-content {
    display: flex;
    gap: 20px; /* Space between calendar and reminder container */
}


.reminder-container {
    width: 80%; /* Increase the width to make it bigger */
    max-width: 1200px; /* Set a maximum width */
    margin: 0 auto; /* Center the container */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.reminder-container h2 {
    margin-top: 0;
}

.reminder-container ul {
    list-style-type: none;
    padding: 0;
}

.reminder-container li {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}